.Home {
  padding: 2rem 1rem;
  background-color: #8e9aae;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
ul li a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.container1 {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/97/833/155/mountains-firewatch-green-forest-wallpaper-preview.jpg);
  background-size: cover;
  background-attachment: fixed;
  backface-visibility: visible;
}

.container1 h1 {
  color: black;
}

#contact {
  padding-top: 10px;
}

.card {
  cursor: pointer;
}

#about img {
  cursor: pointer;
}
